<!-- Header -->
<header id="header" class="header container">
    <div class="left-header">
        <a href="{{ '/' | relative_url }}" class="logo"><img src="/images/logo.gif"/></a>
        <div class="geo">
            <div class="phone">
                Call us <a href="tel:814-454-4001">(814) 454-4001</a>
            </div>
            <div>1940 B West 8th Street, Erie 16505</div>
        </div>
    </div>
    {% if site.header.nav_links and site.header.has_nav %}
    <nav>
        {% for item in site.header.nav_links %}
        <a class="nav-link{% if page.url == item.url %} active{% endif %}" 
           href="{% assign expr_1 = item.url | starts_with: '#' %}{% if expr_1 %}{{ item.url }}{% else %}{{ item.url | relative_url }}{% endif %}"
           {% assign new_window_is_not_empty = item.new_window | is_not_empty %}{% if new_window_is_not_empty %} target="_blank" rel="noopener"{% endif %}>
        {{ item.label }}
        </a>
        {% endfor %}
    </nav>
    {% endif %}
</header>
